<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="HK Express: 香港低成本航空公司！立即預訂機票，查詢航班時間表或航班狀態！">
    <meta name="keywords" content="便宜機票,特價機票,廉價機票,優惠機票,HK Express,FAQ,Faqs,航班问题,答案,香港航空">
    <title>FAQS | HK Express</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/assets/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/eForm.css}">
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/assets/bootstrap.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/laydate/laydate.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/assets/angular-translate.min.js}"></script>
    <script th:src="@{/js/assets/angular-translate-loader-static-files.min.js}"></script>
    <script th:src="@{/js/assets/bootstrapValidator.min.js}"></script>
    <script th:src="@{/js/eForm.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <base th:href="@{/appPage/index}">
    <style>
        @media (max-width: 768px) {
            .clearBoth{
                clear: both;
            }
            .div-pnr,.div-uo,.div-date{
                width: 100% !important;
            }

        }
        .div-uo .form-control-feedback{
            top: 33px;
            right: 12px;
        }

    </style>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });

    </script>


</head>
<body ng-app="myapp" ng-controller="eForm9Controller">
<div class="container-fluid" id="eForm1">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 main">

            <div class="header">
                <div class="header-loagin">
                    <a href="javascript:void(0);" ng-click="clickCategory(0)"><img th:src="@{/img/faq_top3.png}"></a>
                </div>
                <div class="header-lan">
                    <img th:src="@{/img/globe1.png}"/>
                    <select ng-model="langId" ng-change="clickLanguage()" ng-options=" language.id  as language.title for language in languages">
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6 col-md-offset-3">
                    <ul id="progressbar">
                        <li id="progressbarLi1">{{'lab1'|translate}}</li>
                        <li id="progressbarLi2">{{'lab22'|translate}}</li>
                    </ul>
                </div>

                <div style="width: 100%;float: left;margin-bottom: 100px;">

                    <div ng-show="eFormContent" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <div class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'lab69'|translate}}
                        </div>
                        <div style="padding: 10px;">
                            <p style="margin: 5px 0px;"></p>
                            <div class="form-group div-pnr" style="width: 50%;">
                                <label>{{'lab16'|translate}}：</label>
                                <input type="text" ng-model="e.pnr" name="pnr" class="form-control"  placeholder="{{'lab16'|translate}}" />
                            </div>
                            <div style="clear: both;margin-bottom: 15px;"></div>
                            <div class="form-group div-uo" style="width: 50%;float: left;">
                                <label>{{'lab30'|translate}}:</label>
                               <div>
                                   <span style="float: left;line-height: 50px;font-weight: 700;margin: 0px 6px;">UO </span>
                                   <input  style="float: left;width: 90%" type="text" class="form-control"  name="firstName" ng-model="e.firstname" autocomplete="off"/>
                               </div>
                            </div>
                            <div class="clearBoth"></div>
                            <div class="form-group div-date"  style="width: 48%;float: left;">
                                <label>{{'lab70'|translate}}:</label>
                                <input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate1" autocomplete="off" />
                            </div>

                            <div style="clear: both;"></div>
                            <div class="form-group">
                                <label>{{'lab13'|translate}}</label>
                            </div>
                            <button class="btn btn-default" type="button" style="float: right;background-color: #71288E;color: white;padding: 10px 30px;" ng-click="eFormContentSubmit()">{{'lab14'|translate}}</button>

                           <div style="clear: both;"></div>
                        </div>


                    </div>

                    <!-- error-->
                    <div ng-show="eFormError" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <p class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'lab19'|translate}}
                        </p>
                        <div style="padding: 10px;">
                            <element ng-if="data.code == 404">
                                {{'lab20'|translate}}
                            </element>
                            <element ng-if="data.code == 500">
                                {{'error1'|translate}}
                            </element>
                            <div style="clear: both;"></div>
                            <button class="btn btn-default" type="submit" style="float: left;background-color: #71288E;color: white;padding: 10px 30px;margin-top: 80px;" ng-click="getEformContent()">{{'lab21'|translate}}</button>
                            <div style="clear: both;"></div>
                        </div>

                    </div>

                    <!-- success-->
                    <div ng-show="eFormSuccess" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <p class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'lab22'|translate}}
                        </p>
                        <div style="padding: 10px;">
                            <div class="form-group confirmation-test">
                                <div>{{'lab23'|translate}}
                                </div>
                                <div style="margin: 20px 0px;">{{'lab24'|translate}}</div>
                                <p class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;font-size: 24px;width: 250px;margin: auto;font-weight: bold;">
                                    E-IN-{{data.result["key"]}}
                                </p>
                            </div>

                            <div style="clear: both;"></div>
                            <button class="btn btn-default" type="submit" style="float: right;background-color: #71288E;color: white;padding: 10px 30px;margin-top: 80px;"  ng-click="getEformContentDone()">{{'lab25'|translate}}</button>
                            <div style="clear: both;"></div>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>

<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>


</body>
</html>