<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="HK Express: 香港低成本航空公司！立即預訂機票，查詢航班時間表或航班狀態！">
    <meta name="keywords" content="便宜機票,特價機票,廉價機票,優惠機票,HK Express,FAQ,Faqs,航班问题,答案,香港航空">
    <title>FAQS | HK Express</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/assets/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/eForm.css}">
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/assets/bootstrap.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/laydate/laydate.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/assets/angular-translate.min.js}"></script>
    <script th:src="@{/js/assets/angular-translate-loader-static-files.min.js}"></script>
    <script th:src="@{/js/assets/bootstrapValidator.min.js}"></script>
    <script th:src="@{/js/eForm.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <base th:href="@{/appPage/index}">

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });

    </script>
    <style>
        .eFormContent-submit:hover{
            background-color: #0073be !important;
        }
        .form-control[readonly] {
            background-color: #fff;
            opacity: 1;
        }

    </style>

</head>
<body ng-app="myapp" ng-controller="eForm7Controller">
<div class="container-fluid" id="eForm1">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 main">

            <div class="header">
                <div class="header-loagin">
                    <a href="javascript:void(0);" ng-click="clickCategory(0)"><img th:src="@{/img/faq_top3.png}"></a>
                </div>
                <div class="header-lan">
                    <img class="header-lan-imgdiqiu" th:src="@{/img/diqiu.svg}"/>
                    <select class="header-lan-select"
                            ng-model="langId" ng-change="clickLanguage()" ng-options=" language.id  as language.title for language in languages">
                    </select>
                    <img class="xiangxia" th:src="@{/img/xiangxia.svg}"/>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="booking-steps">
                        <li id="booking-steps-li1" class="active">
                            <span class="number"></span>
                            <span class="label1">{{'lab1'|translate}}</span>
                        </li>
                        <li id="booking-steps-li2" >
                            <span class="number"></span>
                            <span class="label1">{{'lab22'|translate}}</span>
                        </li>
                    </ul>
                </div>

                <div style="width: 100%;float: left;margin-bottom: 100px;">
                    <div ng-show="eFormContent" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <div class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'eformText7'|translate}}<p style="font-size: 14px;text-indent: 2em;">{{'lab96'|translate}}<br>{{'lab97'|translate}}</p>
                        </div>
                        <div style="padding: 10px;">
                            <div class="form-group">
                                <label>
                                    <span style="margin-right: 20px;">{{'lab16'|translate}}</span>
                                </label>
                            </div>
                            <div class="form-group pnr-div" style="margin-top: -30px;">
                                <label></label>
                                <input type="text" ng-model="e.pnr" name="pnr" class="form-control"  placeholder="{{'lab16'|translate}}" />
                            </div>
                            <div class="form-group" style="width: 50%;float: left;">
                                <label>{{'lab94'|translate}}:</label>
                                <input type="text" class="form-control" placeholder="{{'lab3'|translate}}" name="firstName" ng-model="e.firstname"/>
                            </div>
                            <div class="form-group"  style="width: 48%;float: right;">
                                <label style="color: white">1</label>
                                <input type="text" class="form-control" placeholder="{{'lab4'|translate}}"  name="lastName" ng-model="e.lastname"/>
                            </div>
                            <div style="clear: both;"></div>

                            <div class="form-group">
                                <label>{{'lab12'|translate}}:</label>
                            </div>
                            <div class="form-group" style="margin-top: -30px;">
                                <label></label>
                                <input type="text" class="form-control" name="email" ng-model="e.email" />
                            </div>

                            <div class="form-group">
                                <label>
                                    <!--<span style="margin-right: 20px;">{{'lab16'|translate}}</span>-->
                                    <input type="radio" name="a" ng-value="true" ng-click="checkPNR('OneWay')" ng-checked="false" >{{'lab6'|translate}}
                                    <input type="radio" name="a" ng-value="false" ng-click="checkPNR('RoundTrip')" style="margin-left: 20px;">{{'lab5'|translate}}
                                </label>
                            </div>
                            <div ng-show="OneWay">
                                <div class="form-group"style="width: 50%;">
                                    <label>{{'lab76'|translate}}</label>
                                </div>
                                <div>
                                    <table width="60%">
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab98'|translate}}：</label></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate1" readonly="readonly" autocomplete="off"/></td>
                                        </tr>
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab99'|translate}}：</label></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate2" readonly="readonly" autocomplete="off"/></td>
                                        </tr>
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab100'|translate}}：</label></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate3" readonly="readonly" autocomplete="off"/></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div style="clear: both;"></div>

                            <div ng-show="RoundTrip">
                                <div>
                                    <table width="100%">
                                        <tr style="height: 35px;">
                                            <td></td>
                                            <td style="padding-right: 15px;"><label>{{'lab101'|translate}}</label></td>
                                            <td><label>{{'lab102'|translate}}</label></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="padding-right: 15px;">
                                                <input type="checkbox" id="checkbox1" ng-click="checkPNR1(1)"> <label>{{'lab103'|translate}}</label>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="checkbox2" ng-click="checkPNR1(2)"> <label>{{'lab103'|translate}}</label>
                                            </td>
                                        </tr>
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab98'|translate}}：</label></td>
                                            <td style="padding-right: 15px;"><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate4" readonly="readonly" autocomplete="off"/></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate7" readonly="readonly" autocomplete="off"/></td>
                                        </tr>
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab99'|translate}}：</label></td>
                                            <td  style="padding-right: 15px;"><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate5" readonly="readonly" autocomplete="off"/></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate8" readonly="readonly" autocomplete="off"/></td>
                                        </tr>
                                        <tr style="height: 70px;">
                                            <td><label>{{'lab100'|translate}}：</label></td>
                                            <td  style="padding-right: 15px;"><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate6" readonly="readonly" autocomplete="off"/></td>
                                            <td><input name="ladate1" type="text" class="form-control layui-input col-sm-4" id="ladate9" readonly="readonly" autocomplete="off"/></td>
                                        </tr>

                                    </table>

                                </div>
                            </div>



                            <div style="clear: both;height: 20px;"></div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>{{'lab104'|translate}}</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>&nbsp;&nbsp;1.{{'lab105'|translate}}</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>&nbsp;&nbsp;2.{{'lab106'|translate}}</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>&nbsp;&nbsp;3.{{'lab107'|translate}}</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>&nbsp;&nbsp;4.{{'lab108'|translate}}</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label>&nbsp;&nbsp;5.{{'lab152'|translate}}</label>
                            </div>
                            <button class="btn btn-default eFormContent-submit" type="button" ng-click="eFormContentSubmit()">{{'lab14'|translate}}</button>

                           <div style="clear: both;"></div>
                        </div>


                    </div>

                    <!-- error-->
                    <div ng-show="eFormError" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <p class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'lab19'|translate}}
                        </p>
                        <div style="padding: 10px;">
                            <div style="margin: 0 auto;width: 50%;margin-top: 50px;color: black;">
                                <p style="font-size: 18px;color: #9960a7">{{'lab87'|translate}}</p>
                                <element ng-if="data.code == 404">
                                    {{'lab20'|translate}}
                                </element>
                                <element ng-if="data.code == 500">
                                    {{'error1'|translate}}
                                </element>
                                <element ng-if="data.code == 405">
                                    {{'lab85'|translate}}<br>{{'lab86'|translate}}
                                </element>
                            </div>
                            <div style="clear: both;"></div>
                            <button class="btn btn-default eFormError-submit" type="submit"  ng-click="getEformContent()">{{'lab21'|translate}}</button>
                            <div style="clear: both;"></div>
                        </div>

                    </div>

                    <!-- success-->
                    <div ng-show="eFormSuccess" class="eForm-div1" style="border-radius: 10px;color: #9960a7;">
                        <p class="list-group-item active ng-binding" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 10px;border-top-right-radius: 10px;font-size: 24px;">
                            {{'lab22'|translate}}
                        </p>
                        <div style="padding: 10px;">
                            <div class="form-group confirmation-test">
                                <div style="margin: 20px 0px;">{{'lab84'|translate}}</div>
                                <p class="list-group-item active ng-binding  eFormSuccess-p" >
                                    E-IN-{{data.result["key"]}}
                                </p>
                                <div class="success-div-test" style="text-align: left;margin: 0 20%;margin-top: 50px;">
                                    {{'lab88'|translate}}<br>
                                    {{'lab89'|translate}}{{data.result["email"]}}<br><br>
                                    {{'lab90'|translate}}
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                            <button class="btn btn-default eFormSuccess-submit" type="submit" ng-click="getEformContentDone()">{{'lab25'|translate}}</button>
                            <div style="clear: both;"></div>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>

<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>


</body>
</html>