<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="HK Express: 香港低成本航空公司！立即預訂機票，查詢航班時間表或航班狀態！">
    <meta name="keywords" content="便宜機票,特價機票,廉價機票,優惠機票,HK Express,FAQ,Faqs,航班问题,答案,香港航空">
    <title>FAQS | HK Express</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/assets/angular-translate.min.js}"></script>
    <script th:src="@{/js/assets/angular-translate-loader-static-files.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <base th:href="@{/appPage/index}">
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <style>
        #SnapABug_bImg{
            width:100%;
        }
        .scrollToTop > img {
            position: fixed;
            z-index: 10;
            bottom: 20px;
            left: 30px;
            cursor: pointer;
        }
        @media (min-width: 992px){
            .col-md-8 {
                width: 69.666667%;
            }
            .col-md-offset-2 {
                margin-left: 15.2%;
            }
            .eformdiv .col-md-offset-2 {
                margin-left: 16.2%;
            }
            .eformdiv .col-md-5 {
                margin-bottom: 20px;
            }

        }

        @media (max-width: 768px) {
            .eformdiv .col-md-5 {
                margin-bottom: 20px;
            }
        }

        .eformdiv .col-md-5 .eformdiv-content{
            cursor: pointer;
            border: 1px solid #ddd;
        }
        .eformdiv .col-md-5 .eformdiv-content:hover{
            background-color: #f5f5f5;
        }


    </style>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>
</head>
<body ng-app="myapp" ng-controller="indexController">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 main">

            <div class="header">
                <div class="header-loagin">
                    <a href="javascript:void(0);" ng-click="clickCategory(0)"><img th:src="@{/img/faq_top3.png}"></a>
                </div>
                <div class="header-lan">
                    <img th:src="@{/img/globe1.png}"/>
                    <select ng-model="langId" ng-change="clickLanguage()" ng-options=" language.id  as language.title for language in result.languages">
                    </select>
                </div>
            </div>

            <div class="nav-select">
                <div class="input-group">
                    <input style="height: 40px;" ng-model="searchTest" id="search" type="text" placeholder="{{selectTest}}" class="form-control" ng-keyup="onKeyup(event)">
                    <span class="input-group-addon"><a href="javascript:;" ng-click="getSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
            <div style="clear: both;margin-bottom: 12px;"></div>
            <div ng-show="searchShow">
                <div class="content-box" style="padding: 0px 12px;">
                    <ul>
                        <li style="border:none;color: #555;" ng-if="detaileds.length == 0" >{{selectTestUnll}}</li>
                        <li ng-repeat="detailed in detaileds"><a th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a></li>
                    </ul>
                </div>
            </div>

            <!-- E-Form -->
            <div class="row eformdiv" style="padding: 50px 12px;">
                <div class="col-md-5">
                    <div class="eformdiv-content" ng-click="getEform(eFormTypes[0].id)">
                        <img style="vertical-align:middle;width:45px;"  th:src="@{/img/eform1.png}" ng-alt="eFormTypes[0].en">
                        <span style="vertical-align:middle;" class="">{{langId==1?eFormTypes[0].hk:(langId==2?eFormTypes[0].cn:eFormTypes[0].en)}}</span>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2" ng-click="getEform(eFormTypes[1].id)">
                    <div class="eformdiv-content">
                        <img style="vertical-align:middle;width:45px;"  th:src="@{/img/eform3.png}" ng-alt="eFormTypes[1].en">
                        <span style="vertical-align:middle;" class="">{{langId==1?eFormTypes[1].hk:(langId==2?eFormTypes[1].cn:eFormTypes[1].en)}}</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="eformdiv-content" ng-click="getEform(eFormTypes[3].id)">
                        <img style="vertical-align:middle;width:45px;"  th:src="@{/img/eform7.png}" ng-alt="eFormTypes[3].en">
                        <span style="vertical-align:middle;" class="">{{langId==1?eFormTypes[3].hk:(langId==2?eFormTypes[3].cn:eFormTypes[3].en)}}</span>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="eformdiv-content" ng-click="getEform(eFormTypes[4].id)">
                        <img style="vertical-align:middle;width:45px;"  th:src="@{/img/eform8.png}" ng-alt="eFormTypes[4].en">
                        <span style="vertical-align:middle;" class="">{{langId==1?eFormTypes[4].hk:(langId==2?eFormTypes[4].cn:eFormTypes[4].en)}}</span>
                    </div>
                </div>
            </div>


           <!-- <div class="content-box" style="padding: 50px 12px;margin-top: -22px;">
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item active" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 25px;">
                        {{hotspotTest}}
                    </a>
                    <a ng-repeat="detailed in hotspots" class="list-group-item" th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a>
                </div>
            </div>
-->
        </div>
    </div>
</div>
<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>
</body>
</html>