<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQS | HK Express</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <style>
        #SnapABug_bImg{
            width:100%;
        }
        .scrollToTop > img {
            position: fixed;
            z-index: 10;
            bottom: 20px;
            left: 30px;
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>
</head>
<body ng-app="myapp" ng-controller="indexDetailedController">
<div class="content">
    <div class="header">
        <div class="header-loagin">
            <a href="javascript:void(0);" ng-click="clickCategory(0)"><img th:src="@{/img/faq_top3.png}"/></a>
        </div>
        <div class="header-lan">
            <img th:src="@{/img/globe1.png}"/>
            <select ng-model="langId" ng-change="clickLanguage()" ng-options=" language.id  as language.title for language in result.languages">
            </select>
        </div>
    </div>
    <div class="nav-select">
        <div class="input-group">
            <input style="height: 40px;" ng-model="searchTest" id="search" type="text" placeholder="{{selectTest}}" class="form-control" ng-keyup="onKeyup(event)">
            <span class="input-group-addon"><a href="javascript:;" ng-click="getSearch()"><span  class="glyphicon glyphicon-search"></span></a></span>
        </div>
    </div>
    <div style="clear: both;margin-bottom: 12px;"></div>
<!--    <div class="nav-tab">
        <ul>
            <li ng-repeat="categorie in result.categories" ng-click="clickCategory($index,categorie)" on-finish-render-filters="completeRepeat">
                <div class="nav-li-text nav-tab-bor">{{categorie.title}}</div>
            </li>
        </ul>
    </div>-->

    <!-- 搜索-->
    <div ng-show="searchShow">
        <div class="content-box" style="padding: 0px 50px;">
            <ul>
                <li style="border:none;color: #555;" ng-if="detaileds.length == 0" >{{selectTestUnll}}</li>
                <li ng-repeat="detailed in detaileds"><a href="javascript:;" ng-click="getDetailed(detailed.id)">{{detailed.title}}</a></li>
            </ul>
        </div>
        <div class="content-box" style="padding: 50px;margin-top: 100px;">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item active" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 25px;">
                    {{hotspotTest}}
                </a>
                <a ng-repeat="detailed in hotspots" class="list-group-item" href="javascript:;" ng-click="getDetailed(detailed.id)">{{detailed.title}}</a>
            </div>
        </div>
    </div>

    <!-- 详情-->
    <div style="margin-top: 100px;">
        <div class="content-type">{{problem}}</div>
        <div style="padding: 20px 12px;">
            <div class="content-type-test"><div class="content-type-test-div">{{detailed.title}}</div></div>
            <div ng-bind-html="content" style="padding: 0px 8px;">
            </div>
            <hr style="width:100%;border:none; border-bottom:2px solid #BA2E90;">
        </div>
    </div>

    <!-- 反馈-->
    <div style="margin-left: 34px;margin-bottom: 85px;display: inline-block;">
        <div style="float: left">{{feedbackTest}}</div>
        <div style="float: left">
            <div class="praise">
                <span id="praise"><img th:src="@{/img/hui1.png}" id="praise-img" class="animation"></span>
                <span id="praise-txt">{{dfcount}}</span>
                <span id="add-num" style="display: inline;"></span>
            </div>
            <div class="praise">
                <span id="praise1"><img th:src="@{/img/hui2.png}" id="praise-img1" class="animation"></span>
                <span id="add-num1" style="display: inline;"></span>
            </div>
        </div>
        <div  style="width: 180px;float: left;margin-left: 40px;margin-top: 88px;">
            <div id="praiseNayTest">
            <textarea rows="6" cols="25" ng-model="dfContent"></textarea>
            <button class="btn btn-default" type="button" ng-click="addDfContent()">{{commonLabel1}}</button>
            </div>
        </div>
    </div>


</div>
<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>

</body>
</html>