<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQS | HK Express</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" th:href="@{/css/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/assets/angular-translate.min.js}"></script>
    <script th:src="@{/js/assets/angular-translate-loader-static-files.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <base th:href="@{/appPage/indexDetailed}">

    <style>
        #SnapABug_bImg{
            width:100%;
        }
        .scrollToTop > img {
            position: fixed;
            z-index: 10;
            bottom: 20px;
            left: 30px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            #cc{
               /* width:90%;*/
                height:100%;
            }
            #cc iframe {
                width:100% !important;
            }
            #cc img { width:100%;}
            #cc video {
                width:100%;
                height:100%;
            }
        }
        @media (min-width: 992px){
            .col-md-8 {
                width: 69.666667%;
            }
            .col-md-offset-2 {
                margin-left: 15.2%;
            }
        }

    </style>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });

    </script>
</head>
<body ng-app="myapp" ng-controller="indexDetailedController">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <div class="header">
                <div class="header-loagin">
                    <a href="javascript:void(0);" ng-click="clickCategory(0)"><img th:src="@{/img/faq_top3.png}"/></a>
                </div>
                <div class="header-lan">
                    <img th:src="@{/img/globe1.png}"/>
                    <select ng-model="langId" ng-change="clickLanguage()" ng-options=" language.id  as language.title for language in result.languages">
                    </select>
                </div>
            </div>
            <div class="nav-select">
                <div class="input-group">
                    <input style="height: 40px;" ng-model="searchTest" id="search" type="text" placeholder="{{selectTest}}" class="form-control" ng-keyup="onKeyup(event)">
                    <span class="input-group-addon"><a href="javascript:;" ng-click="getSearch()"><span  class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
            <div style="clear: both;margin-bottom: 12px;"></div>

            <!-- 搜索-->
            <div ng-show="searchShow">
                <div class="content-box" style="padding: 0px 12px;">
                    <ul>
                        <li style="border:none;color: #555;" ng-if="detaileds.length == 0" >{{selectTestUnll}}</li>
                        <li ng-repeat="detailed in detaileds"><a th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a></li>
                    </ul>
                </div>
                <div class="content-box" style="padding: 0px 12px;margin-top: 50px;">
                    <div class="list-group">
                        <a href="javascript:;" class="list-group-item active" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 25px;">
                            {{hotspotTest}}
                        </a>
                        <a ng-repeat="detailed in hotspots" class="list-group-item" th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a>
                    </div>
                </div>
            </div>

            <!-- 详情-->
            <div style="margin-top: 30px;">
                <div class="content-type">{{problem}}</div>
                <div style="padding: 20px 12px;">
                    <div class="content-type-test"><div class="content-type-test-div">{{detailed.title}}</div></div>
                    <div id="cc">
                        <div ng-bind-html="content" style="padding: 0px 8px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- E-form -->
            <div class="row" ng-if="eFormTypes.length > 0">
                <div class="content-box" style="padding-left: 20px;">
                    <button ng-repeat="e in eFormTypes" class="btn btn-default ng-binding" type="button" style="border-color:#71288E;margin-bottom: 10px;margin-left: 8px;border-radius: 50px;color: #71288E;padding: 10px 30px;" ng-click="getEform(e.id)">{{langId==1?e.hk:(langId==2?e.cn:e.en)}}</button>

                </div>
            </div>

            <hr style="width:100%;border:none; border-bottom:2px solid #BA2E90;">

            <!-- feedback-->
            <div class="row" style="margin-left: -3px;">
                <div class="col-xs-4 col-sm-3 col-md-2">{{feedbackTest}}</div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="col-xs-3 col-sm-3 col-md-2" style="padding-top: 20px;">
                        <div class="praise">
                            <span id="praise">
                                <img th:src="@{/img/hui1.png}" id="praise-img" class="animation">
                            </span>
                        <!--    <span id="praise-txt">{{dfcount}}</span>-->
                            <span id="add-num" style="display: inline;"></span>
                        </div>
                        <div class="praise">
                            <span id="praise1"><img th:src="@{/img/hui2.png}" id="praise-img1" class="animation"></span>
                            <span id="add-num1" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-8" style="padding-top: 86px;">
                        <div id="praiseNayTest" ng-show="praiseNayTest > 0">
                            <div>
                                <div style="font-weight: bold;">{{commonLabel6}}</div>
                                <textarea class="form-control"  style="margin-bottom: 10px;" rows="5" ng-model="dfContent" placeholder="{{commonLabel2}}"></textarea>
                            </div>
                            <div>
                                <div style="margin-bottom: 8px;font-weight: bold;">{{commonLabel3}}</div>
                                <input type="text" class="form-control" id="dfContentEmail" ng-model="dfContentEmail" placeholder="{{commonLabel4}}">
                                <div style="font-weight: bold;">{{commonLabel7}}</div>
                                <input style="margin-bottom: 10px;" type="text" class="form-control" id="dfContentNumber" ng-model="dfContentNumber" placeholder="{{commonLabel5}}">
                            </div>
                            <div style="padding-top: 20px;text-align: right;">
                                <button class="btn btn-default" type="button" ng-click="addDfContent()">{{commonLabel1}}</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Smart Guide -->
            <div class="row" ng-show="smartGuideType">
                <div class="content-box" style="padding: 50px 27px;margin-top: -22px;">
                    <div class="list-group">
                        <a href="javascript:;" class="list-group-item active" style="background-color: #71288E;border-color: #71288E;border-top-left-radius: 25px;">
                            {{commonLabel10}}
                        </a>
                        <a ng-repeat="detailed in smartGuide" class="list-group-item" th:href="@{/appJson/getIndexDetailed?dlId={{detailed.id}}}">{{detailed.title}}</a>
                    </div>
                </div>
            </div>

            <div style="height: 50px;"></div>


        </div>
    </div>

</div>
<div class="scrollToTop" style="display: none;">
    <img th:src="@{/img/scroll-to-top.png}" alt="Back To Top">
</div>

</body>
</html>